
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Australian Slang Translator</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<h1>Australian Slang Translator</h1>
<form action="/translate" method="post">
<div class="form-group">
<label for="saying">Australian Saying/Expression:</label>
<input type="text" class="form-control" id="saying" name="saying">
</div>
<button type="submit" class="btn btn-primary">Translate</button>
</form>
</div>
</body>
</html>


